/*-----------

  布局样式表

----------*/
/*
网格运算 设置数值
*/
@grid-width:960px;//设定网格总宽度 默认情况下每一个网格第一个子元素没有margin-left 最后一个子元素没有margin-right 需手动指定
@grid-margin:6px;//设定单个网格左边和右边的margin
@grid-one:(@grid-width - 22 * @grid-margin)/12;//计算单个栅格 没有margin的宽度值
.grid-width(@shu){
  width:@grid-one * @shu + 2 * @grid-margin *(@shu - 1);//根据列数计算宽度
}
/*
容器
*/
.container:before,
.container:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  clear: both;
}
.container {
  margin:0 auto;
  width: @grid-width;
}
.container-left{
  width:670px;
  float: left;
}
.container-right{
  width: 280px;
  float: right;
}
.layout {
  display: block;
  *zoom: 1;
  margin:0px auto;
}
.layout:before,
.layout:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.clear{
  clear: both;
}
/*
12个网格的基本属性
*/

.span1, .span2,
.span3, .span4,
.span5, .span6,
.span7, .span8,
.span9, .span10,
.span11, .span12{
  float: left;
  _height:30px;
  min-height: 30px;
  margin-left:@grid-margin;
  margin-right:@grid-margin;
  display:inline;
}
/*
清除左右margin
*/
.ml0 {
  margin-left: 0;
}
.mr0 {
  margin-right: 0;
}
/*
定义12个网格的宽度
*/
.span12 {
  .grid-width(12);
}

.span11 {
  .grid-width(11);
}

.span10 {
  .grid-width(10);
}

.span9 {
  .grid-width(9);
}

.span8 {
  .grid-width(8);
}

.span7 {
  .grid-width(7);
}

.span6 {
  .grid-width(6);
}

.span5 {
  .grid-width(5);
}

.span4 {
  .grid-width(4);
}

.span3 {
  .grid-width(3);
}

.span2 {
  .grid-width(2);
}

.span1 {
  .grid-width(1);
}
/*
常用布局属性
*/
.ml5{
  margin-left: 5px;
}
.ml10{
  margin-left: 10px;
}
.ml15{
  margin-left: 15px;
}
.mr5{
  margin-right: 5px;
}
.mr10{
  margin-right: 10px;
}
.mr15{
  margin-right: 15px;
}
.pl5{
  padding-left: 5px;
}
.pl10{
  padding-left: 10px;
}
.pl15{
  padding-left: 15px;
}
.pr5{
  padding-right: 5px;
}
.pr10{
  padding-right: 10px;
}
.pr15{
  padding-right: 15px;
}
